<section class="mt-5">
    <table class="table table-md mt-2 w-full">
        <thead>
            <tr>
                <th></th>
                <th>Subreddit</th>
                <th>Subscribers</th>
                <th>Resume</th>
                <th>NSFW</th>
                <th>Language</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (subreddit of subreddits(); track subreddit.name; let index = $index) {
                <tr>
                    <td>{{ index + 1 }}</td>
                    <td>/{{ subreddit.name }}</td>
                    <td>
                        <span class="badge badge-ghost py-5">
                            <i class="fa-solid fa-user"></i>
                            {{ subreddit.subscribers | number}}
                        </span>
                    </td>
                    <td>{{ subreddit.submit_text }}</td>
                    <td>
                        @if (subreddit.over18 === true) {
                            <div class="badge badge-error">+18</div>
                        }@else{
                            <div class="badge badge-neutral">No</div>
                        }
                    </td>
                    <td>
                        <div class="badge badge-neutral">{{ subreddit.lang.toUpperCase() }}</div>
                    </td>
                    <td>
                        <button class="btn h-auto p-1 flex px-4" (click)="openDetails.emit(subreddit)">
                            <a class="cursor-pointer box-content">Más Informacion</a>
                            <i class="fa-solid fa-up-right-from-square"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

